*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #333;
    position: relative;
    min-height: 100vh;
    font-size: 100%;
    -webkit-font-smoothing: auto;
    background-color: #f7f9fc;
    font-display: swap;
}

.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.card {
    width: 100%;
    background-color: #fff;
    margin: 2em 0;
    // padding: 1em;
    border-radius: 3px;
    box-shadow: 1px 1px 81px rgba(41, 60, 74, .18);
    overflow: auto;
    @media screen and (max-width: $tablet_lg) {
        margin: 0;
    }
}

.container {
    max-width: 1140px;
    margin: auto;
}

small,
small a {
    color: #1d1d1d;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.portal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000009e;
    top: 0;
    left: 0;
    text-align: center;
    // padding-top: 20vh;
    z-index: 20;
    .portal-body {
        display: inline-block;
    }
}

.drawer {
    position: fixed;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #ffffff;
    text-align: left;
    padding: 1em;
    .close-btn--drawer {
        float: right;
        background-color: $primary-color;
        padding: 5px 10px;
        color: #fff;
        border: 0px;
        font-weight: 100;
        cursor: pointer;
        line-height: 1;
        font-size: 2em;
        &:hover {
            background-color: darken($primary-color, 20%);
        }
    }
}

.btn-filter {
    font-size: 0.9em;
    padding: 0 20px;
    margin: 0 7px;
    line-height: 2.7;
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #9b9b9b;
    &:hover {
        cursor: pointer;
        background-color: $primary-color;
        color: #ffffff;
    }
}

.filter {
    display: inline-block;
}

.searchbox {
    input {
        background-color: #ffffff !important;
    }
}

.info-group {
    label {
        font-size: 0.7em;
        font-weight: 600;
        color: #ababab;
    }
    p {
        margin-top: 6px;
        font-weight: 600;
        color: #5a5a5a;
    }
}